<img
  class='modal-backdrop-img'
  src='http://image.tmdb.org/t/p/w400{{poster_path}}'
  alt='{{title}}'
/>
<div class='block-wrapper'>
  <div class='modal-description'>
    <table class='table'>
      <caption class='modal-title'>{{title}}</caption>
      <tr class='row'>
        <td class='table-head'>Vote/Votes</td>
        <td class='table-value'><span
            class='vote average'
          >{{vote_average}}</span>
          /
          <span class='vote count'>{{vote_count}}</span></td>
      </tr>
      <tr class='row'>
        <td class='table-head'>Popularity</td>
        <td class='table-value'>{{popularity}}</td>
      </tr>
      <tr class='row'>
        <td class='table-head'>Original title</td>
        <td class='table-value'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='table-head'>Genre</td>
        <td class='table-value'>{{#each genres}}{{this}} {{/each}}</td>
      </tr>
    </table>
  </div>
  <div class='about-wrapper'>
    <h3 class='about'>About</h3>
    <p class='overview'>{{overview}}</p>
  </div>
  <div class='buttons'>
    <button type='button' class='button watched'>Add to watched</button>
    <button type='button' class='button queue'>Add to queue</button>
  </div>
</div>